@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

ul.social-network{

    list-style: none;
    padding: 0;

}

ul.social-network li{

    display: inline;
    margin: 0;
    padding: 5px;

}

.fa{

    font-size: 35pt;
    color: white;
    padding: 10px;

}

.fa-linkedin-square:hover{

    color: #0e76a8;

}

.fa-instagram:hover{

    color: #E1306C;

}

.fa-github:hover{

    color: #000000;

}

.footer-copyright{

    font-family: 'Eczar', serif;
    font-size: 16pt;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;

}

.bg-black{

    background: linear-gradient(142deg, rgba(8,8,8,1) 0%, rgba(0,0,0,1) 100%);

}
