<div class="container-fluid">

  <div class="row bg-theme">

    <div class="col-md-12 text-white">

      <a routerLink="/feed" class="text-white text-left">

        <i class="fa fa-home" aria-hidden="true"></i> Home

      </a>

      <h1 class="fs-54 text-center"> Temas</h1>
      <h5 class="fs-18 text-center"> Veja aqui todos os temas cadastrados ou cadastre um novo!</h5>

      <div class="row d-flex justify-content-center mt-4 mb-5">

        <div class="col-md-3">

          <div class="form-group">

            <input [(ngModel)] = "theme.description" type="text" class="form-control" id="description" placeholder="Digite a descrição do tema">

          </div>

          <div class="d-flex justify-content-center">

            <a class="btn mt-1 ml-3" (click)="registerTheme()">Cadastrar</a>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="container-fluid pt-5 pb-5" id="themes">

  <div class="row mt-5">

    <div class="col-md-12">

      <h2 class="text-center text-white">Todos os Temas</h2>

    </div>

  </div>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-offset-1 col-md-10">
        <div class="panel">
          <div class="panel-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tema</th>
                  <th class="text-right">Modificações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let theme of listTheme">
                  <td>{{theme.id}}</td>
                  <td>{{theme.description}}</td>
                  <td class="text-center">
                    <ul class="action-list d-flex justify-content-end">
                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
