<div class="container-fluid bg-user-edit">
  <div class="edit-user-form">
    <form>
      <div class="form-icon">
        <span><img src="{{photo}}" alt="Imagem do usuário" width="100px" height="100px"
            class="img-fluid rounded-circle"></span>
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.name" type="name" name="name" class="form-control item" id="name"
          placeholder="Username">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.email" type="email" name="email" class="form-control item" id="email"
          placeholder="Email">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.photo" type="photo" name="photo" class="form-control item" id="photo"
          placeholder="Link da foto">
      </div>
      <div class="form-group">
        <input (input)="confirmePassword($event)" type="password" name="password" class="form-control item"
          id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.password" type="password" name="password" class="form-control item" id="password"
          placeholder="Password">
      </div>
      <div class="form-group mt-2">
        <select class="form-control form-style" (change)="typeUser($event)">
          <option value="">Selecione sua casa</option>
          <option value="grifinoria">Grifinória</option>
          <option value="sonserina">Sonserina</option>
          <option value="lufa">Lufa-Lufa</option>
          <option value="corvinal">Corvinal</option>
        </select>
        <i class="input-icon uil uil-lock-alt"></i>
      </div>
      <div class="form-group text-center">
        <button class="btn-cancel mt-4 mr-4" routerLink="/feed"> Cancelar</button>
        <button class="btn" (click)="updateUser()"> Atualizar</button>
      </div>
    </form>
  </div>
</div>
