@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

.font-size-16{

    font-family: 'Eczar', serif;
    font-size: 16pt;
    font-weight: 400;

}

a{

    cursor: pointer;

}

.bg-dark{

    background: linear-gradient(142deg, rgba(8,8,8,1) 0%, rgba(0,0,0,1) 100%);

}