<div class="body">
  <div class="header2 bg-success-gradiant">
    <div class="">
      <nav class="navbar navbar-expand-lg h2-nav"> <a class="navbar-brand" routerLink="/feed"><img
            src="{{logo}}" width="70px" height="70px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse hover-dropdown" id="header2">
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item active"><img src="{{photo}}" alt="Imagem do usuário" width="50px" height="50px"
                class="img-fluid rounded-circle"></li>
            <li class="nav-item">
              <p class="m-0 font-weight-bold text-white font-size-16">{{name}}</p>
            </li>
            <li class="nav-item"> <a [routerLink]="['/user-edit', id]">
                <p class="m-0 text-white font-size-16"><i class="fa fa-pencil" aria-hidden="true"></i></p>
              </a></li>
          </ul>
          <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item active"><a class="nav-link" href="#"><i class="icon-bubble"></i> Posso Ajudar?</a></li>
            <li class="nav-item"><a (click)="logoff()" class="btn rounded-pill btn-dark py-2 px-4" href="#">Sair</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
