<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img class="margin-img" src="https://i.imgur.com/r96Vc6Z.png" width="100" height="100" alt="">
  </a>
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-menu">
        <a class="nav-link" routerLink="/login"> Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item text-menu">
        <a class="nav-link" routerLink="/register">Cadastro</a>
      </li>
    </ul>
  </div>
</nav>

<div id="main">

  <div class="bg-animation">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 margin-paragrafo">
          <div class="row mt-5">
            <div class="col-sm-12">
              <p class="paragrafo">A Armada de Dumbledore precisa de você, acha que está preparado para esse desafio?
                Entre
                e venha fazer parte de nossa comunidade, converse sobre as experiências com os livros, filmes, ida aos
                parques, aqui você é livre.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="paragrafo"> Se já faz parte de nossa comunidade, faça seu login para conversamos mais! Se
                deseja
                fazer parte, faça seu cadastro, você será bem-vinde!</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
