<div id="main">

  <div class="bg-animation">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>

    <div class="container d5">
      <div class="row">
        <div class="col-sm-6 margin-paragrafo">
          <div class="row mt-5">
            <div class="col-sm-12">
              <p class="paragrafo">A Armada de Dumbledore precisa de você, acha que está preparado para esse desafio?
                Entre
                e venha fazer parte de nossa comunidade, converse sobre as experiências com os livros, filmes, ida aos
                parques, aqui você é livre.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="paragrafo"> Se já faz parte de nossa comunidade, faça seu login para conversamos mais! Se
                deseja
                fazer parte, faça seu cadastro, você será bem-vinde!</p>

            </div>

            <div class="row">
              <div class="col-sm-12 ml-5 mt-4"> 
                <a routerLink="/login" class="btn-login mt-3">Login</a>
                <a routerLink="/register" class="btn ml-3">Cadastre-se</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
