@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

*{

    font-family: 'Eczar', serif;
    font-weight: 400;

}

@keyframes changeBackgroundColor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

h1{

    font-family: 'Merienda', cursive;
    font-weight: 900;

}

#bg-img{

    background: url("https://i.imgur.com/pAjqEa5.jpg");

    min-height: 658px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-blue-dark{

    background: linear-gradient(135deg, #3c949f, #052d41, #62a6ab);
    background-size: 300% 300%;
    animation: changeBackgroundColor 15s ease infinite;

}